trainclassifier/randomforest/Data/
trainclassifier/randomforest/DataL/

trainclassifier/randomforest/out.*
trainclassifier/randomforest/log.*
trainclassifier/randomforest/err.*

trainclassifier/randomforest/out*.*
trainclassifier/randomforest/log*.*
trainclassifier/randomforest/err*.*


